[submodule "deps/conflict"]
	path = deps/conflict
	url = https://github.com/qookei/conflict
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/libremidi"]
	path = deps/libremidi
	url = https://github.com/celtera/libremidi
[submodule "deps/commandline"]
	path = deps/commandline
	url = https://github.com/lionkor/commandline
